body{

    background-image: url('/assets/wallp.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


#dataContainer {
display: grid;

grid-template-columns: repeat(18, 1fr);
grid-template-rows: repeat(9, 1fr);
grid-column-gap: 5px;
grid-row-gap: 5px;
line-height: 20%;
margin: auto;
width: 90vw;
}
#dataContainer p:hover{
    cursor: pointer;
}

.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 18 / 2 / 19; }
.div3 { grid-area: 2 / 1 / 3 / 2; }
.div4 { grid-area: 2 / 2 / 3 / 3; }
.div5 { grid-area: 2 / 13 / 3 / 14; }
.div6 { grid-area: 2 / 14 / 3 / 15; }
.div7 { grid-area: 2 / 15 / 3 / 16; }
.div8 { grid-area: 2 / 16 / 3 / 17; }
.div9 { grid-area: 2 / 17 / 3 / 18; }
.div10 { grid-area: 2 / 18 / 3 / 19; }
.div11 { grid-area: 3 / 1 / 4 / 2; }
.div12 { grid-area: 3 / 2 / 4 / 3; }
.div13 { grid-area: 3 / 13 / 4 / 14; }
.div14 { grid-area: 3 / 14 / 4 / 15; }
.div15 { grid-area: 3 / 15 / 4 / 16; }
.div16 { grid-area: 3 / 16 / 4 / 17; }
.div17 { grid-area: 3 / 17 / 4 / 18; }
.div18 { grid-area: 3 / 18 / 4 / 19; }
.div19 { grid-area: 4 / 1 / 5 / 2; }
.div20 { grid-area: 4 / 2 / 5 / 3; }
.div21 { grid-area: 4 / 3 / 5 / 4; }
.div22 { grid-area: 4 / 4 / 5 / 5; }
.div23 { grid-area: 4 / 5 / 5 / 6; }
.div24 { grid-area: 4 / 6 / 5 / 7; }
.div25 { grid-area: 4 / 7 / 5 / 8; }
.div26 { grid-area: 4 / 8 / 5 / 9; }
.div27 { grid-area: 4 / 9 / 5 / 10; }
.div28 { grid-area: 4 / 10 / 5 / 11; }
.div29 { grid-area: 4 / 11 / 5 / 12; }
.div30 { grid-area: 4 / 12 / 5 / 13; }
.div31 { grid-area: 4 / 13 / 5 / 14; }
.div32 { grid-area: 4 / 14 / 5 / 15; }
.div33 { grid-area: 4 / 15 / 5 / 16; }
.div34 { grid-area: 4 / 16 / 5 / 17; }
.div35 { grid-area: 4 / 17 / 5 / 18; }
.div36 { grid-area: 4 / 18 / 5 / 19; }
.div37 { grid-area: 5 / 1 / 6 / 2; }
.div38 { grid-area: 5 / 2 / 6 / 3; }
.div39 { grid-area: 5 / 3 / 6 / 4; }
.div40 { grid-area: 5 / 4 / 6 / 5; }
.div41 { grid-area: 5 / 5 / 6 / 6; }
.div42 { grid-area: 5 / 6 / 6 / 7; }
.div43 { grid-area: 5 / 7 / 6 / 8; }
.div44 { grid-area: 5 / 8 / 6 / 9; }
.div45 { grid-area: 5 / 9 / 6 / 10; }
.div46 { grid-area: 5 / 10 / 6 / 11; }
.div47 { grid-area: 5 / 11 / 6 / 12; }
.div48 { grid-area: 5 / 12 / 6 / 13; }
.div49 { grid-area: 5 / 13 / 6 / 14; }
.div50 { grid-area: 5 / 14 / 6 / 15; }
.div51 { grid-area: 5 / 15 / 6 / 16; }
.div52 { grid-area: 5 / 16 / 6 / 17; }
.div53 { grid-area: 5 / 17 / 6 / 18; }
.div54 { grid-area: 5 / 18 / 6 / 19; }
.div55 { grid-area: 6 / 1 / 7 / 2; }
.div56 { grid-area: 6 / 2 / 7 / 3; }
.div57 { grid-area: 8 / 3 / 9 / 4; }
.div58 { grid-area: 8 / 4 / 9 / 5; }
.div59 { grid-area: 8 / 5 / 9 / 6; }
.div60 { grid-area: 8 / 6 / 9 / 7; }
.div61 { grid-area: 8 / 7 / 9 / 8; }
.div62 { grid-area: 8 / 8 / 9 / 9; }
.div63 { grid-area: 8 / 9 / 9 / 10; }
.div64 { grid-area: 8 / 10 / 9 / 11; }
.div65 { grid-area: 8 / 11 / 9 / 12; }
.div66 { grid-area: 8 / 12 / 9 / 13; }
.div67 { grid-area: 8 / 13 / 9 / 14; }
.div68 { grid-area: 8 / 14 / 9 / 15; }
.div69 { grid-area: 8 / 15 / 9 / 16; }
.div70 { grid-area: 8 / 16 / 9 / 17; }
.div71 { grid-area: 8 / 17 / 9 / 18; }
.div72 { grid-area: 6 / 4 / 7 / 5; }
.div73 { grid-area: 6 / 5 / 7 / 6; }
.div74 { grid-area: 6 / 6 / 7 / 7; }
.div75 { grid-area: 6 / 7 / 7 / 8; }
.div76 { grid-area: 6 / 8 / 7 / 9; }
.div77 { grid-area: 6 / 9 / 7 / 10; }
.div78 { grid-area: 6 / 10 / 7 / 11; }
.div79 { grid-area: 6 / 11 / 7 / 12; }
.div80 { grid-area: 6 / 12 / 7 / 13; }
.div81 { grid-area: 6 / 13 / 7 / 14; }
.div82 { grid-area: 6 / 14 / 7 / 15; }
.div83 { grid-area: 6 / 15 / 7 / 16; }
.div84 { grid-area: 6 / 16 / 7 / 17; }
.div85 { grid-area: 6 / 17 / 7 / 18; }
.div86 { grid-area: 6 / 18 / 7 / 19; }
.div87 { grid-area: 7 / 1 / 8 / 2; }
.div88 { grid-area: 7 / 2 / 8 / 3; }
.div89 { grid-area: 9 / 3 / 10 / 4; }
.div90 { grid-area: 9 / 4 / 10 / 5; }
.div91 { grid-area: 9 / 5 / 10 / 6; }
.div92 { grid-area: 9 / 6 / 10 / 7; }
.div93 { grid-area: 9 / 7 / 10 / 8; }
.div94 { grid-area: 9 / 8 / 10 / 9; }
.div95 { grid-area: 9 / 9 / 10 / 10; }
.div96 { grid-area: 9 / 10 / 10 / 11; }
.div97 { grid-area: 9 / 11 / 10 / 12; }
.div98 { grid-area: 9 / 12 / 10 / 13; }
.div99 { grid-area: 9 / 13 / 10 / 14; }
.div100 { grid-area: 9 / 14 / 10 / 15; }
.div101 { grid-area: 9 / 15 / 10 / 16; }
.div102 { grid-area: 9 / 16 / 10 / 17; }
.div103 { grid-area: 9 / 17 / 10 / 18; }
.div104 { grid-area: 7 / 4 / 8 / 5; }
.div105 { grid-area: 7 / 5 / 8 / 6; }
.div106 { grid-area: 7 / 6 / 8 / 7; }
.div107 { grid-area: 7 / 7 / 8 / 8; }
.div108 { grid-area: 7 / 8 / 8 / 9; }
.div109 { grid-area: 7 / 9 / 8 / 10; }
.div110 { grid-area: 7 / 10 / 8 / 11; }
.div111 { grid-area: 7 / 11 / 8 / 12; }
.div112 { grid-area: 7 / 12 / 8 / 13; }
.div113 { grid-area: 7 / 13 / 8 / 14; }
.div114 { grid-area: 7 / 14 / 8 / 15; }
.div115 { grid-area: 7 / 15 / 8 / 16; }
.div116 { grid-area: 7 / 16 / 8 / 17; }
.div117 { grid-area: 7 / 17 / 8 / 18; }
.div118 { grid-area: 7 / 18 / 8 / 19; }
.div119 { grid-area: 6 / 3 / 7 / 4; }
.div120 { grid-area: 7 / 3 / 8 / 4; }
.div121 {
    position: absolute;
    top: 8%;
    left: 26%;

}
.div122 {
    position: absolute;
    top: 15%;
    left: 29%;
}
.elem{
    background-color: rgba(0, 157, 255, 0.225);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    
    border: 1px solid;
    border-radius: 20px;
    border-radius: 4%;
    border-color: rgba(0, 0, 0, 0.039);
    transition: all .2s ease-in-out; 
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.elem:hover{
    transform: scale(1.1);
    border-color: rgba(0, 229, 255, 0.808);
}
.elem:hover p.name {
    color: rgb(255, 46, 4);
}

.symbol{
    color: rgb(255, 179, 0);
    font-size: 18px;
    text-align: center;
}
.name{
    color: rgb(255, 179, 0);
    font-size: small;
    text-align: center;
}
.mass{
    color: rgb(255, 179, 0);
    font-size: small;
    font-size: small;
    text-align: center;
}
.number{
    color: rgb(255, 179, 0);
    text-align: start;
    padding-left: 2%;
}
.verall{
    color: rgb(255, 179, 0);
    text-align: center;
    position: relative;
    top: 30%;
    transform: translateY(-50%);
 

  }
.popup{
    background: linear-gradient(135deg, rgba(3, 201, 251, 0.419), rgba(1, 255, 251, 0.337));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border: 1px solid;
    border-radius: 10px;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    height: 80%;

}   

.bezar{
    float: right;
    padding-right: 3%;
    padding-bottom: 0%;
    color: aliceblue;
    font-size: 30px;

}
.gomb{
    position: relative;
    font-size: 40px;
    left: 60%;
    transition: transform 50ms;

}
.gomb:hover{
    color: rgb(255, 0, 0);

    transform: scale(1.2);
}
.bezar p:hover{
    cursor: pointer;
}

iframe { 
    display: block; 
    margin-top: 5%;
    margin-left: 5% ; 
  } 

.brba{
    padding-right: 2px;
    font-size: 50px;
    border: 1px solid;
    border-color: white;
    background-color: rgb(85, 147, 3);
    color: white;
    
}
.focim{
    color: white;font-size: 50px;
}